@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $zIndex: null) {
	position: $position;

	@if length($top) > 1 {
		@if length($top) < 4 {
			@for $i from (4 - length($top)) to 4 {
				$top: append($top, null);
			}
		}

		$list: $top;
		$zIndex: $right;
		$top: nth($list, 1);
		$right: nth($list, 2);
		$bottom: nth($list, 3);
		$left: nth($list, 4);
	}

	@if $top {
		top: $top;
	}
	@if $right {
		right: $right;
	}
	@if $bottom {
		bottom: $bottom;
	}
	@if $left {
		left: $left;
	}
	@if $zIndex and type-of($zIndex) == 'number' and unitless($zIndex) {
		z-index: $zIndex;
	}
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
	@include position(absolute, $top, $right, $bottom, $left);
}