body {
	padding-top: 70px;
}

#map {
	height: 500px;
}

#map-container {
	position: fixed;
	right: 0;
}

.loading-indicator {
	display: inline-block;
	width: 0;
	height: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 0;
	vertical-align: middle;
	background: url("../images/ajax-loade.gif") no-repeat 0 0;
	opacity: 0;
}

.loading-indicator.active {
	width: 42px;
	opacity: 1;
}

.transition {
	-webkit-transition: all 0.3s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
	transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

