@mixin button($bg: $green, $fontColor: $font, $input: false) {
	@include appearance(none);

	display: inline-block;

	padding: em(5px 30px);

	background: $bg;
	border: none;

	font-family: $sans6;
	@include text-size(14px, 30px);
	color: $fontColor;
	text-decoration: none;

	cursor: pointer;

	@include at_breakpoint($mobile) {
		padding: em(0 15px);
	}
}

@mixin link($fontSize: inherit, $withSpace: false) {
	text-decoration: none;

	cursor: pointer;

	&:after {
		content: if($withSpace, "\00a0\003e", "\003e");

		vertical-align: top;

		font-size: $fontSize;
	}
}

