<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Familiada Champ!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>

    <div class="container-fluid" id="scene">

    </div>

    <script id="familiada-template" type="text/template">
        <div class="row" >
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Familiada, Champ!</h1>
                    <p>Najpierw opowiedz jakiś dowcip.</p>
                    <p><a id="familiada-start-button" class="btn btn-primary btn-lg" role="button">Już opowiedziałem.</a></p>
                </div>
            </div>
        </div>
    </script>

        <script id="familiada-black-board-tpl" type="text/template">
            <div id="board" class="board points-a-view points-b-view">
                <div class="board__validation">
                    <div class="board__validation--left">
                        <div class="validation__wrapper chance-a-view">

                        </div>
                    </div>
                    <div class="board__validation--right">
                        <div class="validation__wrapper chance-b-view">

                        </div>
                    </div>
                </div>
                <div class="board__questions">
                    <div class="board__questions--header">
                        FAMILIADA CHAMP!!
                    </div>
                    <div class="board__questions--header board__questions--points__summation">
                        <span class="points__summation--value">
                            2000
                        </span> punktów do zebrania!
                    </div>
                    <div class="board__question__wrapper question-view">

                    </div>
                </div>
            </div>
        </script>

        <script id="board__points" type="text/template">
                <div class="board__points--{{= pointsClass}}">
                    <div class="points__wrapper">
                        <div class="points__value">
                            {{= points}}
                        </div>
                    </div>
                </div>
        </script>

        <script id="board__chance" type="text/template">

            {{% for(var i = 0; i < lostChances; i++) { }}
                <div class="validation__item">X</div>
            {{% } }}

        </script>

        <script id="board__question" type="text/template">

            <div class="question__item">
                <div class="question__item--name">
                    {{= question }}
                </div>
                <div class="question__item--answers">

                    {{% _.each(answers, function (answer) { }}

                    <div class="item__answer{{= answer.revealed ? ' answer--visible' : '' }}">
                        <div class="answer--content">
                            {{= answer.answer }}
                        </div>
                        <div class="answer--points">
                            {{= answer.points }}
                        </div>
                    </div>

                    {{% }) }}

                </div>
            </div>

        </script>

        <script id="admin-chance-template" type="text/template">
        </script>
        <script id="admin-points-template" type="text/template">
        </script>
        <script id="admin-team-template" type="text/template">

            <div class="panel {{= active ? 'panel-success' : 'panel-default' }}">
                <div class="panel-heading">{{= name }}</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">{{= points }}</span>
                            Punkty:
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{= lostChances }}</span>
                            Stracone szanse:
                        </li>
                    </ul>
                    <p>

                        <button type="button" class="btn btn-success activate-team" {{= active ? 'disabled="disabled"' : '' }}>Aktywuj</button>

                    </p>
                </div>

            </div>

        </script>
        <script id="admin-question-template" type="text/template">

            <div class="panel panel-default">
                <div class="panel-heading">{{= question }}</div>
                <div class="panel-body">
                    <ul class="list-group">
                        {{% _.each(answers, function (answer) { }}
                            <li class="list-group-item answer{{= answer.revealed ? ' list-group-item-success' : ''}}" data-cid="{{= answer.cid }}">
                                <span class="badge">{{= answer.points }}</span>
                                {{= answer.answer }}
                            </li>
                        {{% }) }}
                        <li class="list-group-item list-group-item-danger invalid-answer">
                            Nieprawidłowa odpowiedź
                        </li>
                    </ul>
                </div>
            </div>

        </script>

        <script id="admin-round-template" type="text/template">

            <h1>Runda {{= number }}
                <small>
                    {{% if (stage == 'race') { }}
                        Wyścig drużyn
                    {{% } }}

                    {{% if (stage == 'answering') { }}
                        Odpowiadanie na pytanie
                    {{% } }}

                    {{% if (stage == 'takeover') { }}
                        Przejmowanie pytania
                    {{% } }}
                </small>
            </h1>

        </script>


        <script id="admin-game-template" type="text/template">

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 round-view"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3 points-a-view chance-a-view team-a-view"></div>
                <div class="col-md-6 question-view"></div>
                <div class="col-md-3 points-b-view chance-b-view team-b-view"></div>
            </div>

        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/requirejs-plugins/src/async.js"></script>
        <script src="../bower_components/requirejs-plugins/src/depend.js"></script>
        <script src="../bower_components/requirejs-plugins/src/font.js"></script>
        <script src="../bower_components/requirejs-plugins/src/goog.js"></script>
        <script src="../bower_components/requirejs-plugins/src/image.js"></script>
        <script src="../bower_components/requirejs-plugins/src/json.js"></script>
        <script src="../bower_components/requirejs-plugins/src/mdown.js"></script>
        <script src="../bower_components/requirejs-plugins/src/noext.js"></script>
        <script src="../bower_components/requirejs-plugins/src/propertyParser.js"></script>
        <script src="../bower_components/requirejs-plugins/lib/Markdown.Converter.js"></script>
        <script src="../bower_components/requirejs-plugins/lib/text.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js scripts/plugins.js -->

        <script src="../bower_components/bootstrap/js/affix.js"></script>
        <script src="../bower_components/bootstrap/js/alert.js"></script>
        <script src="../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/bootstrap/js/modal.js"></script>
        <script src="../bower_components/bootstrap/js/transition.js"></script>
        <script src="../bower_components/bootstrap/js/button.js"></script>
        <script src="../bower_components/bootstrap/js/popover.js"></script>
        <script src="../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../bower_components/bootstrap/js/tab.js"></script>

        <script src="../bower_components/requirejs/require.js"></script>

        <!-- endbuild -->
        <!--<script src="../bower_components/underscore/underscore.js"></script>-->
        <!--<script src="../bower_components/backbone/backbone.js"></script>-->



        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
