$black: #000;

.board {

	@extend %black-board-general;

	.validation__wrapper {
		@extend %validation;
	}

	.points__wrapper {
		@extend %points;
	}

}

%black-board-general {
	position: relative;

	background-color: $black;
	height: 100%;
	padding-left: em(200px);
	padding-right: em(200px);
}

%validation {
	display: block;
	position: absolute;
	left: 0;
}

%points {
	display: block;
}