@function em($pxValues, $fontSize: $base-font-size, $relativeFontSize: $base-font-size) {
	$_round: 1000;
	$chromeRoundFix: 0.001;
	$converted: ();
	$fontSize: strip-units($fontSize);

	@each $val in $pxValues {
		@if $val == 0 {
			$converted: append($converted, unquote('0'));
		}
		@else if type-of($val) != number {
			$converted: append($converted, $val);
		}
		@else if unit($val) == em {
			$converted: append($converted, em(strip-units($val) * $relativeFontSize, $fontSize));
		}
		@else if unit($val) == px or unitless($val)  {
			$_val: strip-units($val) / $fontSize * 1em;
//			$converted: append($converted, $_val);
			$converted: append($converted, round($_val*$_round)/$_round + $chromeRoundFix);
//			@warn 'fontSize: #{$fontSize}  ;  org: #{$val}  ;  converter: #{round($_val*$_round)/$_round}  ;  computed: #{strip-units($_val) * $base-font-size}';
		}
		@else {
		  @warn 'Only px values are accepted. Returned original value';
		  $converted: append($converted, $val);
		}
	}
	
	@if type-of($converted) == list and length($converted) == 1 {
        @return nth($converted, 1);
	}
	@else {
        @return $converted;
	}
}